html {
    /* scroll-behavior: smooth; */
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, white 0%, rgb(250,250,250) 51%, rgb(245,245,245) 85%);
    overflow-x: hidden;
}

nav {
    border-bottom: 0.1rem rgb(228, 220, 220) solid;
    position:fixed;
    width: 100%;
    z-index: 5;
    height: 3rem;
    background-color: white;
    top:0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
    left: 25%;
    position: absolute;
    height: 100%;
    margin: 0;
}

nav ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 5rem;
}

nav ul li button {
    background-color: transparent;
    border: none;
    font-size: medium;
    text-align: center;
}

.dropdown-content {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 0.1rem rgb(228, 220, 220) solid;
    border-top: none;
    margin-top: 0;
    width: 5rem;
    position: absolute;
    top: 100%;
}

.dropdown-content a {
    background-color: white;
    padding: 0.4rem 0 0.4rem;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

nav ul li:hover .dropdown-content {
    display: flex;
}

#login-container {
    width: calc(50% - 22rem);
    margin: auto;
    margin-top: 6rem;
    position: relative;
    height: 82vh;
}

.panels {
    width: 22rem;
    aspect-ratio: 1 / 1;
    box-shadow: 0.4rem 0.4rem 0.4rem purple;
    background-color: white;
    border: 0.1rem black solid;
    transition: none;
    -webkit-transition: transform .5s ease-in-out;
}

.panels:hover {
    transform: scale(1.02);
    transition: none;
    -webkit-transition: transform .5s ease-in-out;
}

.panels p {
    width: 80%;
    margin-left: 10%;
}

#panel1 {
    position: absolute;
    left: 3rem;
    top: 4rem;
    z-index: 1;
    background: repeating-linear-gradient(
        135deg,
        white,
        white 10px,
        orangered 10px,
        orangered 14px        
    );
}

#panel2 {
    position: absolute;
    z-index: 2;
}

#panel3 {
    position: absolute;
    left: 10rem;
    top: 7rem;
    z-index: 3;
}

#login-container h2 {
    margin: 0;
    margin-top: 1rem;
    text-align: center;
    padding: 0;
}

#sign-up {
    text-align: center;
    font-size: 0.8rem;
    border-bottom: 0.075rem orangered solid;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

.input-label-container {
    display: block;
    padding-bottom: 1rem;
    padding-left: 1rem;
 }

label {
    display: inline-block;
    width: 6rem;
}

input[type=email], input[type=password] {
    border-radius: 0.7rem;
    height: 1.2rem;
}

#login-error-msg {
    position: absolute;
    text-align: center;
    top: 11rem;
    font-size: small;
    color: red;
}

input[type=button] {
    background-color: orangered;
    border-radius: 0.5rem;
    width: 4rem;
    margin-left: calc(50% - 2rem);
    margin-top: 2rem;
    position: absolute;
}

#T-Cs p {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    font-size: 0.8rem;
}

#login-content-container {
    height: 100vh;
}

#login-content-container h2 {
    margin-left: 20%;
    width: 100%;
    padding: 1rem;
}

.layers {
    margin-bottom: 8rem;
    height: 100vh;
}

#layer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#profile-panel {
    background-color: white;
    border-top-left-radius: 1rem;
    margin: 0;
    padding: 0;
    width: 28rem;
    height: 36rem;
    box-shadow: 0.2rem 0.2rem 0.2rem purple;
    margin-left: 4rem;
}

.border {
    border-left: 0.3rem orangered solid;
    border-top: 0.3rem orangered solid;
    border-top-left-radius: 1rem;
    width: 20rem;
    height: 12.5rem;
    z-index: 2;
}

#profile-content {
    margin-left: 2rem;
    width: 120%;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    border-bottom: 0.1rem orangered solid;
}

#profile-header {
    text-align: center;
}

#pfp {
    width: 6rem;
    height: 6rem;
    margin-right: 2rem;
    border: 0.1rem purple solid;
}

#description {
    height: 7rem;
}

#description p {
    margin: 0.5rem;
}

#qualifications {
    width: 70%;
    margin-left: 15%;
}

#qualifications-header {
    text-align: center;
}

.subject-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    position: relative;
}

.subject {
    background-color: white;
    box-shadow: 0.2rem 0.2rem 0.2rem purple;
    width: 14rem;
    height: 1.5rem;
    border-radius: 0.6rem;
    z-index: 2;
    transition: none;
    -webkit-transition: transform 1.5s ease-in-out;
    border: 0.1rem black solid;
}

.subject:hover {
    transform: translate(-3rem, 0);
    transition: none;
    -webkit-transition: transform .5s ease-in-out;
}

.grade {
    z-index: 1;
    position: relative;
    right: 4.1rem;
    background-color: orangered;
    box-shadow: 0.2rem 0.2rem 0.2rem whitesmoke;
    border-radius: 0.6rem;
    width: 4rem;
}

#maths {
    left:1rem
}

#computer-science {
    right:2rem
}

#physical-education {
    top:0.5rem;
    left:1.5rem
}

#business-managment {
    left:3rem;
}

#english {
    right: 4rem;
}

#football-panel {
    width: 30rem;
    height: 30rem;
    float: right;
    margin-right: 4rem;
}

#football-panel img {
    width: 24rem;
    position: relative;
    transition: none;
    -webkit-transition: transform .5s ease-in-out;
    box-shadow: 0.4rem 0.4rem 0.4rem black;
}

#football-panel img:hover {
    transform: scale(1.02);
    transition: none;
    -webkit-transition: transform .5s ease-in-out;
}

#fb1 {
    z-index: 1;
    top: 5rem;
    right: 2rem;
}

#fb2 {
    z-index: 2;
    left: 4rem;
}

#fb3 {
    z-index: 3;
    bottom: 20rem;
    right: 14rem;
}

#layer2 {
}

#programming {
    position: relative;
    width: 90%;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
}

#programming img {
    box-shadow: 0.2rem 0.2rem 0.2rem purple;
    position: absolute;
    width: 3rem;
    height: 2rem;
}

#h {
    width: 100%;
    height: 0.1rem;
    background-color: red;
    position: absolute;
    top: 50%;
    z-index: 2;
}

#v {
    width: 0.1rem;
    height: 100%;
    background-color: red;
    position: absolute;
    left: 50%; 
    z-index: 2; 
}